<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head><meta content="text/html; charset=UTF-8" http-equiv="content-type" /><title>Home</title></head>
  <body class="lift:content_id=main">
    <div id="main" class="lift:surround?with=default;at=content">
      <script data-lift="AngularJS"></script>
      <script id="liftmodules-ng_js"  data-lift="Angular?futures=on"></script>
      <script id="futureServices_js"  type="text/javascript"  data-lift="FutureSnips.services"></script>
      <script id="twoApps_js"         src="/js/TwoApps.js"  type="text/javascript"></script>

      <h2>Multiple app tests</h2>
      <div id="app1" class="application">
        <div data-lift="embed?what=ready"></div>
        <div ng-controller="Controller">
          <input id="button1" type="button" value="No Arg" ng-click="click()"/>
          <span id="output1" ng-bind="output">Hard-coded</span>
        </div>
      </div>
      <div id="app2" class="application">
        <div ng-controller="Controller">
          <input id="button2" type="button" value="No Arg" ng-click="click()"/>
          <span id="output2" ng-bind="output">Hard-coded</span>
        </div>
      </div>
    </div>
  </body>
</html>

